.sonarqube/
Programowanie GUI/NotepadCatcher/bw-output/
Programowanie GUI/Programowanie GUI.VC.db
Programowanie GUI/NotepadCatcher/x64/
Programowanie GUI/NotepadCatcher/Debug/
sonarqube_cmd.txt
Programowanie GUI/Debug/
build-QDbConnector-Desktop_Qt_5_6_2_MinGW_32bit-Debug/
